.textInput {
    margin: 0 auto;
    /* width: 30%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #908e9b;
}

.textInput+.textInput {
    margin-top: 30px;
}

.textInput>textarea {
    background-color: rgba(255, 255, 255, 0.45);
    color: rgba(255, 255, 255, 0.67);
    resize: none;
    height: 150px;
    width: 100%;
    margin-top: 5px;
    border: none;
    outline: none;
    font-size: 1.5rem;
}